# Auth
# https://authjs.dev/getting-started/migrating-to-v5#environment-variables
# https://authjs.dev/reference/core#secret
# pnpx auth secret to create a new secret

MONGO_URI=mongodb+srv://bhautikmdtech:a8ZVhQZxMjnk9V0T@cluster0.bxgqr.mongodb.net/storeBillingManagement?readPreference=primary&retryWrites=true&w=majority


AUTH_URL=http://localhost:3000
AUTH_SECRET=test123


  
AUTH_GITHUB_ID= 
AUTH_GITHUB_SECRET= 